In [1]:
import pandas as pd
import numpy as np
#define a function to import csv

def import_csv(csvFile): #argument - pass a string
    df = pd.read_csv(csvFile)
    return df

In [4]:
raw = import_csv(r"../data/Cafes_and_restaurants__with_seating_capacity .csv")

In [5]:
raw.head(10)

,Census year,Block ID,Property ID,Base property ID,Street address,CLUE small area,Trading name,Industry (ANZSIC4) code,Industry (ANZSIC4) description,Seating type,Number of seats,x coordinate,y coordinate,Location
0,2002,203,109358,109358,832-834 Swanston Street CARLTON 3053,Carlton,Unibite,4512,Takeaway Food Services,Seats - Indoor,30,144.9649,-37.7967,POINT (144.9649 -37.7967)
1,2002,204,101613,101613,377-391 Cardigan Street CARLTON 3053,Carlton,Clyde Hotel,4520,"Pubs, Taverns and Bars",Seats - Indoor,50,144.9658,-37.7973,POINT (144.9658 -37.7973)
2,2002,205,104469,104469,114-152 Grattan Street CARLTON 3053,Carlton,Royal Women's Hospital Coffee Shop,4512,Takeaway Food Services,Seats - Indoor,25,144.9648,-37.8000,POINT (144.9648 -37.8)
3,2002,206,103691,103691,221-229 Faraday Street CARLTON 3053,Carlton,Thresherman's Bakehouse,4511,Cafes and Restaurants,Seats - Indoor,70,144.9667,-37.7989,POINT (144.9667 -37.7989)
4,2002,206,103691,103691,221-229 Faraday Street CARLTON 3053,Carlton,Thresherman's Bakehouse,4511,Cafes and Restaurants,Seats - Outdoor,42,144.9667,-37.7989,POINT (144.9667 -37.7989)
5,2002,206,103693,103693,233 Faraday Street CARLTON 3053,Carlton,Geneveve Restaurant,4511,Cafes and Restaurants,Seats - Indoor,60,144.9664,-37.7988,POINT (144.9664 -37.7988)
6,2002,206,103693,103693,233 Faraday Street CARLTON 3053,Carlton,Geneveve Restaurant,4511,Cafes and Restaurants,Seats - Outdoor,20,144.9664,-37.7988,POINT (144.9664 -37.7988)
7,2002,206,106113,106113,205-207 Lygon Street CARLTON 3053,Carlton,Toki Japanese Restaurant,4511,Cafes and Restaurants,Seats - Indoor,33,144.9666,-37.8005,POINT (144.9666 -37.8005)
8,2002,206,106114,106114,209 Lygon Street CARLTON 3053,Carlton,Il Cantuccio Restaurant,4511,Cafes and Restaurants,Seats - Indoor,60,144.9667,-37.8004,POINT (144.9667 -37.8004)
9,2002,206,106114,106114,209 Lygon Street CARLTON 3053,Carlton,Il Cantuccio Restaurant,4511,Cafes and Restaurants,Seats - Outdoor,20,144.9667,-37.8004,POINT (144.9667 -37.8004)

In [6]:
df2019 = raw[raw['Census year'] >= 2019]

In [7]:
# select certain types of "Industry (ANZSIC4) description": 
types = ['Cafes and Restaurants', 'Pubs, Taverns and Bars', 'Takeaway Food Services']
df_selected = df2019.loc[df2019['Industry (ANZSIC4) description'].isin(types)]
df_selected = df_selected[(df_selected['x coordinate'].notnull()) & (df_selected['y coordinate'].notnull())]

In [8]:
df_selected.head(1)

,Census year,Block ID,Property ID,Base property ID,Street address,CLUE small area,Trading name,Industry (ANZSIC4) code,Industry (ANZSIC4) description,Seating type,Number of seats,x coordinate,y coordinate,Location
47120,2019,203,103123,103123,258 Elgin Street CARLTON 3053,Carlton,Cafe Sua Da,4511,Cafes and Restaurants,Seats - Indoor,45,144.96553,-37.79671,POINT (144.9655339 -37.79670704)

In [9]:
len(df_selected)

3362

In [10]:
df_selected.rename(columns={'x coordinate': 'longitude', 'y coordinate': 'latitude'}, inplace=True)
df_selected.columns

Index(['Census year', 'Block ID', 'Property ID', 'Base property ID',
       'Street address', 'CLUE small area', 'Trading name',
       'Industry (ANZSIC4) code', 'Industry (ANZSIC4) description',
       'Seating type', 'Number of seats', 'longitude', 'latitude', 'Location'],
      dtype='object')

In [11]:
#Save modified csv file to under the same folder of this notebook
df_selected.to_csv(r'filtered_cafes_restaurants_without accomodation.csv', index = False, header = True)

In [12]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3362 entries, 47120 to 50651
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Census year                     3362 non-null   int64
 1   Block ID                        3362 non-null   int64
 2   Property ID                     3362 non-null   int64
 3   Base property ID                3362 non-null   int64
 4   Street address                  3362 non-null   object
 5   CLUE small area                 3362 non-null   object
 6   Trading name                    3362 non-null   object
 7   Industry (ANZSIC4) code         3362 non-null   int64
 8   Industry (ANZSIC4) description  3362 non-null   object
 9   Seating type                    3362 non-null   object
 10  Number of seats                 3362 non-null   int64
 11  longitude                       3362 non-null   float64
 12  latitude                        3362 non-null   float64
 13  Location                        3362 non-null   object
dtypes: float64(2), int64(6), object(6)
memory usage: 394.0+ KB

In [13]:
industries = list(set(raw['Industry (ANZSIC4) description']))
len(industries),industries

(69,
 ['Scientific Research Services',
  'Motion Picture Exhibition',
  'Technical and Vocational Education and Training',
  'Fruit and Vegetable Retailing',
  'Entertainment Media Retailing',
  'Oil and Gas Extraction',
  'Funeral, Crematorium and Cemetery Services',
  'Health and Fitness Centres and Gymnasia Operation',
  'Sports and Physical Recreation Clubs and Sports Professionals',
  'Sports and Physical Recreation Venues, Grounds and Facilities Operation',
  'Amusement and Other Recreational Activities n.e.c.',
  'Watch and Jewellery Retailing',
  'Other Specialised Food Retailing',
  'Catering Services',
  'Clothing Retailing',
  'Business and Professional Association Services',
  'Performing Arts Venue Operation',
  'Other Personal Accessory Retailing',
  'Accommodation',
  'Zoological and Botanical Gardens Operation',
  'Other Auxiliary Finance and Investment Services',
  'Computer System Design and Related Services',
  'Internet Service Providers and Web Search Portals',
  'Management Advice and Other Consulting Services',
  'Fruit and Vegetable Wholesaling',
  'Hairdressing and Beauty Services',
  'Supermarket and Grocery Stores',
  'Architectural Services',
  'Car Retailing',
  'Performing Arts Operation',
  'Pubs, Taverns and Bars',
  'Other Interest Group Services n.e.c.',
  'Automotive Body, Paint and Interior Repair',
  'Takeaway Food Services',
  'Sports and Physical Recreation Instruction',
  'Vacant Space',
  'Casino Operation',
  'Other Store-Based Retailing n.e.c.',
  'Clubs (Hospitality)',
  'Bakery Product Manufacturing (Non-factory based)',
  'Other Personal Services n.e.c.',
  'Professional Photographic Services',
  'Liquor Retailing',
  'Other Gambling Activities',
  'Higher Education',
  'Fresh Meat, Fish and Poultry Retailing',
  'Religious Services',
  'Other Social Assistance Services',
  'Furniture Retailing',
  'Womens Clothing Retailing',
  'Fuel Retailing',
  'Pharmaceutical, Cosmetic and Toiletry Goods Retailing',
  'Other Food Product Manufacturing n.e.c.',
  'Horse and Dog Racing Administration and Track Operation',
  'Hospitals (except Psychiatric Hospitals)',
  'Common Area',
  'Other Administrative Services n.e.c.',
  'Newspaper and Book Retailing',
  'Convenience Store',
  'Motor Cycle Retailing',
  'Electricity Transmission',
  'Banking',
  'Cafes and Restaurants',
  'Laundry and Dry-Cleaning Services',
  'Sport and Camping Equipment Retailing',
  'Diet and Weight Reduction Centre Operation',
  'Non-Residential Property Operators',
  'Flower Retailing',
  'Houseware Retailing'])